.flabFaq {
  padding-bottom: rem(40px);
  height: 100%;
  overflow: hidden;
  @media (max-width: 1199.98px) {
    padding-bottom: rem(20px);
  }
  @media (max-width: 991.98px) {
    padding-bottom: 0;
  }
  // &__acardion {}
  &__acardionItem {
    list-style-type: none;
    position: relative;
    cursor: pointer;
    background-color: #f7f9fe;
    margin-bottom: rem(30px);
    line-height: normal;
    padding: rem(13px) rem(20px);
    transition: all .3s;
    display: inline-block;
    max-width: rem(537px);
    margin-right: 30px;
    width: 100%;
    @media (max-width: 1199.98px) {
      max-width: rem(430px);
    }
    @media (max-width: 991.98px) {
      margin: 0 auto rem(30px);
      float: none;
      display: block;
    }
    &:nth-child(2n) {
      margin-right: 0;
      @media (max-width: 991.98px) {
        margin: 0 auto rem(30px);
      }
    }
    span {
      min-height: rem(40px);
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &:hover {
      color: $mc;
      i {
        color: $mc;
      }
      .flabFaq__desc p {
        color: #000000;
      }
    }
    i {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: rem(20px);
      color: #000000;
      font-size: rem(25px);
      transition: all .3s;
    }
  }
  &__desc {
    margin-top: rem(20px);
    display: none;
    p {
      color: #000000;
      margin: 0;
      a {
        color: $mc;
      }
    }
  }
  .accItem {
    background-color: #fff;
    box-shadow: 0px 4px 30px 0 rgba(0, 0, 0, 0.09);
    color: $mc;
  }
  .positionIcon {
    top: rem(35px);
    transform: translateY(-50%) rotate(180deg);
    color: $mc;
  }
}
