html,
body {
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
}

// flex footer down
.flabWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.flabContent {
  flex: 1 0 auto;
}

// flex footer down end
// slider
.flabSlider {
  width: 100%;
  height: 100%;

  .swiper-slide {
    display: flex;
    align-items: center;
  }

  &--mainSlider {
    margin-top: rem(85px);
    padding-bottom: rem(100px);

    @media (max-width: 767.98px) {
      margin-top: rem(20px);
      padding-bottom: rem(60px);
    }

    .swiper-pagination-bullet {
      width: rem(10px);
      height: rem(10px);
      display: inline-block;
      border-radius: 100%;
      background: #fff;
      opacity: 1;
    }

    .swiper-pagination-bullet-active {
      opacity: 1;
      background: $mc;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        width: rem(18px);
        height: rem(18px);
        border: rem(1px) solid $mc;
        border-radius: 100%;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
      }
    }
  }

  &--platformSlider {
    .flabSlider__item {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: rem(60px);
    }
  }

  &--reviewsSlider {
    padding: rem(50px) 0 rem(70px);

    @media (max-width: 991.98px) {
      padding: rem(30px) 0 rem(50px);
    }

    @media (max-width: 575.98px) {
      padding-bottom: rem(35px);
    }

    .swiper-slide-next {
      .flabReviews__comment {
        transform: scale(1);
        transition: all .5s;
      }
    }

    .swiper-slide-active,
    .swiper-slide-duplicate-prev {
      .flabReviews__comment {
        background-color: #9f9f9f;
        opacity: 0.9;

        @media (max-width: 991.98px) {
          background-color: #fff;
          opacity: 1;
        }

        &:before,
        &:after {
          background-color: #9f9f9f;
          opacity: 0.4;

          @media (max-width: 991.98px) {
            background-color: rgba(255, 255, 255, 0.6);
            opacity: 1;
          }
        }

        .flabReviews__revInfoItem {
          span {
            background-color: #9f9f9f;

            @media (max-width: 991.98px) {
              background-color: #fff;
            }
          }
        }
      }
    }
  }
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 7px;
}

// slider end
// button
.flabBtnWrap {
  &__btn {
    border-radius: rem(27px);
    font-size: rem(18px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    transition: all .3s;
    position: relative;
    background-color: $mc;
    z-index: 1;
    overflow: hidden;
    text-transform: uppercase;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      transition: all 0.6s;
      transform: scale(0, 1);
      overflow: hidden;
    }

    &:hover {
      text-decoration: none;
      color: #ffffff;

      &:before {
        transform: scale(1, 1);
        background-color: #103dbe;
      }
    }

    &--btnMainSlider {
      max-width: rem(162px);
      width: 100%;
      min-height: rem(54px);
      margin-top: rem(50px);

      @media (max-width: 575.98px) {
        margin-top: rem(30px);
      }
    }

    &--rateBtn {
      max-width: rem(162px);
      width: 100%;
      min-height: rem(50px);
      margin: auto;
    }
  }

  &--detailTarifBtnWrap {
    padding-top: rem(15px);
  }
}

// button end
// mmenu
.mm-menu_theme-dark .mm-navbar a,
.mm-menu_theme-dark .mm-navbar>* {
  max-width: rem(100px);
  margin: auto;
}

.mm-panel_has-navbar .mm-navbar {
  min-height: rem(70px);
}

.mm-panels>.mm-panel>.mm-listview:first-child,
.mm-panels>.mm-panel>.mm-navbar+.mm-listview {
  margin-top: rem(10px);
}

.mm-listitem:after {
  left: rem(10px);
}

// mmenu end
// flabCaption
.flabCaption {
  padding-top: rem(70px);
  padding-bottom: rem(70px);
  text-align: center;

  @media (max-width: 1199.98px) {
    padding-top: rem(50px);
    padding-bottom: rem(50px);
  }

  @media (max-width: 991.98px) {
    padding-top: rem(40px);
    padding-bottom: rem(40px);
  }

  @media (max-width: 767.98px) {
    padding-top: rem(30px);
    padding-bottom: rem(30px);
  }

  &__firstCap {
    font-size: rem(18px);
    color: #000000;
    font-weight: 400;

    &--white {
      color: #fff;
    }
  }

  &__secondCap {
    font-size: rem(25px);
    color: #000000;
    text-transform: uppercase;
    font-weight: 400;
    padding-bottom: rem(15px);
    position: relative;
    margin: 0;

    @media (max-width: 575.98px) {
      font-size: rem(20px);
    }

    &:after {
      content: '';
      position: absolute;
      max-width: rem(70px);
      width: 100%;
      min-height: rem(1px);
      background-color: $sc;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    &--white {
      color: #fff;

      &:after {
        background-color: #fff;
      }
    }
  }
}

// flabCaption end
// flabList
.flabList {
  padding: 0;

  li {
    list-style-type: none;
    position: relative;
    padding-left: rem(37px);
    padding-bottom: rem(5px);

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      background-color: $sc;
      max-width: rem(15px);
      width: 100%;
      min-height: rem(2px);
    }
  }

  &--allRateList {
    columns: 2;

    @media (max-width: 767.98px) {
      columns: 1;
    }
  }
}

// flabList end
// animation wow 
.wow {
  @media (max-width: 575.98px) {
    visibility: visible !important;
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
  }
}

// animation wow end
