.flabReviews {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
  }
  &__comment {
    background-color: #fff;
    max-width: rem(615px);
    width: 100%;
    min-height: rem(355px);
    border-radius: rem(9px);
    margin: auto;
    transform: scale(0.8);
    position: relative;
    padding: rem(30px);
    @media (max-width: 1800.98px) {
      max-width: rem(515px);
    }
    @media (max-width: 1199.98px) {
      padding-left: rem(20px);
      padding-right: rem(20px);
    }
    @media (max-width: 991.98px) {
      transform: scale(1);
      max-width: rem(450px);
    }
    @media (max-width: 950.98px) {
      max-width: rem(425px);
    }
    @media (max-width: 900.98px) {
      max-width: rem(400px);
    }
    @media (max-width: 575.98px) {
      padding-left: rem(15px);
      padding-right: rem(15px);
    }
    @media (max-width: 400.98px) {
      max-width: rem(280px);
    }
    &:before,
    &:after {
      content: '';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 9px;
      background-color: rgba(255, 255, 255, 0.6);
      z-index: -1;
      width: 100%;
    }
    &:before {
      max-width: rem(574px);
      min-height: rem(363px);
      top: rem(-15px);
      @media (max-width: 1800.98px) {
        max-width: rem(474px);
      }
      @media (max-width: 1500.98px) {
        max-width: rem(450px);
      }
      @media (max-width: 1450.98px) {
        max-width: rem(430px);
      }
      @media (max-width: 1350.98px) {
        max-width: rem(400px);
      }
      @media (max-width: 1300.98px) {
        max-width: rem(375px);
      }
      @media (max-width: 1250.98px) {
        max-width: rem(350px);
      }
      @media (max-width: 1199.98px) {
        max-width: rem(300px);
      }
      @media (max-width: 991.98px) {
        max-width: rem(400px);
      }
      @media (max-width: 900.98px) {
        max-width: rem(350px);
      }
      @media (max-width: 400.98px) {
        max-width: rem(250px);
      }
    }
    &:after {
      max-width: rem(526px);
      min-height: rem(343px);
      top: rem(-30px);
      @media (max-width: 1800.98px) {
        max-width: rem(426px);
      }
      @media (max-width: 1500.98px) {
        max-width: rem(400px);
      }
      @media (max-width: 1450.98px) {
        max-width: rem(380px);
      }
      @media (max-width: 1350.98px) {
        max-width: rem(350px);
      }
      @media (max-width: 1250.98px) {
        max-width: rem(310px);
      }
      @media (max-width: 1199.98px) {
        max-width: rem(270px);
      }
      @media (max-width: 991.98px) {
        max-width: rem(350px);
      }
      @media (max-width: 900.98px) {
        max-width: rem(300px);
      }
      @media (max-width: 400.98px) {
        max-width: rem(225px);
      }
    }
  }
  &__revInfo {
    display: flex;
    justify-content: center;
    padding-bottom: rem(30px);
    @media (max-width: 575.98px) {
      flex-direction: column;
      padding-bottom: rem(20px);
    }
  }
  &__revInfoItem {
    max-width: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    @media (max-width: 575.98px) {
      margin-bottom: rem(15px);
    }
    &:last-child {
      margin-bottom: 0;
    }
    span {
      max-width: rem(46px);
      width: 100%;
      min-height: rem(46px);
      background-color: #ffffff;
      box-shadow: 0px 3px 16px 0 rgba(30, 96, 213, 0.32);
      border-radius: 100%;
      margin-right: rem(20px);
      display: flex;
      align-items: center;
      justify-content: center;
      @media (max-width: 1450.98px) {
        margin-right: rem(15px);
      }
      @media (max-width: 1199.98px) {
        max-width: rem(30px);
        min-height: rem(30px);
        margin-right: rem(10px);
      }
      @media (max-width: 991.98px) {
        max-width: rem(40px);
        min-height: rem(40px);
        margin-right: rem(15px);
      }
      i {
        color: $mc;
        font-size: rem(20px);
        @media (max-width: 1199.98px) {
          font-size: rem(14px);
        }
        @media (max-width: 991.98px) {
          font-size: rem(16px);
        }
      }
    }
    p {
      margin: 0;
      font-size: rem(19px);
      display: inline-block;
      @media (max-width: 1450.98px) {
        font-size: rem(16px);
      }
      @media (max-width: 1199.98px) {
        font-size: rem(13px);
      }
      @media (max-width: 991.98px) {
        font-size: rem(15px);
      }
    }
  }
  &__desc {
    p {
      line-height: normal;
      @media (max-width: 575.98px) {
        font-size: rem(14px);
      }
    }
  }
}
